.hero-block,
.hero-block-preview {
	position: relative;

	.hero-block-foreground {
		width: 60%;
		aspect-ratio: 16 / 9;
		margin: auto;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		z-index: 1;
	}

	.hero-block-background {
		aspect-ratio: 11 / 8;
		margin-left: 40%;
		opacity: 75%;
	}

	.hero-block-foreground img,
	.hero-block-background img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.hero-block-notice {
	margin: 0;
	padding: 0.5rem 0.75rem;
	box-sizing: border-box;
	background: yellow;
	border: 1px solid black;
}
