.hero-block,
.hero-block-preview {
	position: relative;

	.hero-block-foreground,
	.hero-block-background {
		display: flex;

		img {
			display: block;
			width: 100%;
			object-fit: cover;
		}
	}

	.hero-block-foreground {
		width: 60%;
		aspect-ratio: 16 / 9;
		margin: auto;
		position: absolute;
		inset: 0 auto 0 0;
		z-index: 1;
	}

	.hero-block-background {
		aspect-ratio: 11 / 8;
		margin-left: 40%;
		opacity: 75%;
	}
}

.hero-block-notice {
	margin: 0;
	padding: 0.5rem 0.75rem;
	box-sizing: border-box;
	background: yellow;
	border: 1px solid black;
}
